body{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
    background-image: url(images/logIn.jpg);
    background-attachment: fixed;
}

.sign-in{
    width: 400px;
    box-shadow: gray 5px 5px 10px;
    padding: 30px;
    margin: 9% auto 0;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: white;
}

.sign-in h1{
    margin-bottom: 20px;
    color: rgba(212, 169, 104, 0.822);
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
}

form button{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    width: 80%;
    background-color:  #f8e9d2b9;
}

.sign-in-form button:hover{
    background-color: #f2dea2;
    color: azure;
    box-shadow: inset 0 0 0 5px #f2dea2;
}

.sign-in-span{
  font-size: small;  
  float: right;
  padding-bottom: 50px;
}

.font{
    font-family: 'Oswald', sans-serif;
}