.navig{
    background-color:#fdf5ea ;
    border-radius: 1em;
    height: 350px;
}
.inp{
    background-color: #fdf5ea ;
}
.homie{
    background-color: #fdf5ea;
    border-radius: 10px;
    
}
.bgg{
    background-color: white;
}